@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #e7e9ea;
  background: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
  background: #16181c;
}

::-webkit-scrollbar-thumb {
  background: #2f3336;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #536471;
}